@font-face {
  font-family: "Baloo Chettan 2";
  src: url("../fonts/BalooChettan2-Medium.woff2") format("woff2");
  src: url("../fonts/BalooChettan2-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Baloo Chettan 2";
  src: url("../fonts/BalooChettan2-Regular.woff2") format("woff2");
  src: url("../fonts/BalooChettan2-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Baloo Chettan 2";
  src: url("../fonts/BalooChettan2-SemiBold.woff2") format("woff2");
  src: url("../fonts/BalooChettan2-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}
.btn {
  display: block;
  height: 55px;
  font-weight: 500;
  color: #fff;
  background-color: #59BE29;
}

* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font: 400 18px/1.6 "Baloo Chettan 2", Arial, Helvetica, sans-serif;
  color: rgba(10, 25, 2, 0.7);
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: rgba(10, 25, 2, 0.7);
  transition: all 0.3s;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1178px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding: 30px 0;
}
.header_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_logo img {
  max-width: 154px;
  max-height: 65px;
}
.header_nav-list {
  display: flex;
  align-items: center;
}
.header_nav-item {
  padding: 0 17px;
}

.purpose {
  padding: 70px 0;
}
.purpose_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.purpose_wrap ::before {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: 700;
}
.purpose-list {
  padding-bottom: 25px;
}
.purpose h1 {
  color: #0A1902;
  font-size: 49px;
  line-height: 1.3;
}
.purpose .col1 {
  width: 50%;
  display: inline-block;
  padding: 0 15px;
  letter-spacing: normal;
}
.purpose .col2 {
  width: 50%;
  display: inline-block;
  padding: 15px 15px;
  letter-spacing: normal;
  counter-reset: section;
  padding-left: 120px;
}
.purpose-list li:nth-child(1)::before {
  counter-increment: section;
  content: " " counter(section) "";
  color: #59BE29;
  background: #fff;
  margin: 5px 10px;
  box-shadow: 0px 10px 20px rgba(22, 52, 7, 0.05);
  width: 67px;
  height: 67px;
  border-radius: 50px;
  float: left;
}
.purpose-list2 li:nth-child(1) {
  font-size: 25px;
  line-height: 1.5;
  font-weight: 500;
  color: #0A1902;
}
.purpose-list2 li:nth-child(1)::before {
  counter-increment: section;
  content: counter(section);
  color: #59BE29;
  background: #fff;
  margin: 5px 10px;
  box-shadow: 0px 10px 20px rgba(22, 52, 7, 0.05);
  width: 67px;
  height: 67px;
  border-radius: 50px;
  float: left;
}
.purpose-list li:nth-child(2)::before {
  font-size: 18px;
  font-weight: normal;
  opacity: 0.7;
  padding-left: 55px;
  margin-left: 35px;
}
.purpose-list li:nth-child(1) {
  font-weight: 500;
  font-size: 25px;
  line-height: 1.5;
  color: #0A1902;
}

.fruits {
  padding: 60px 0;
}
.fruits_row {
  display: flex;
  justify-content: space-between;
  width: 33.33%;
  padding: 15px;
  position: relative;
}
.fruits_row ::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
}
.fruits_image {
  padding-bottom: 31px;
  position: relative;
}
.fruits_image img {
  top: 50%;
  left: 50%;
  max-height: 100%;
}

/*# sourceMappingURL=style.css.map */
