$black: #0A1902;
$green: #59BE29;
$white: #fff;

$title-color: $black;
$text-color: rgba($black, .7);
$primary-color: $green;

$btn-box-shadow: 0 10px 20px rgba(22, 52, 7, .15);
$btn-border-radius: 20px 80px;

$main-font-family: 'Baloo Chettan 2', Arial, Helvetica, sans-serif;

$main-font: 400 18px/1.6 $main-font-family;
$h1-font: 600 121px/.9 $main-font-family;
$h2-font: 600 49px/1.3 $main-font-family;
$h3-font: 600 25px/1.5 $main-font-family;

$trs: all .3s;

@font-face {
    font-family: "Baloo Chettan 2";
    src: url("../fonts/BalooChettan2-Medium.woff2") format("woff2");
    src: url("../fonts/BalooChettan2-Medium.woff") format("woff");
    font-style: normal;
    font-weight: 500;
  }
  @font-face {
    font-family: "Baloo Chettan 2";
    src: url("../fonts/BalooChettan2-Regular.woff2") format("woff2");
    src: url("../fonts/BalooChettan2-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: "Baloo Chettan 2";
    src: url("../fonts/BalooChettan2-SemiBold.woff2") format("woff2");
    src: url("../fonts/BalooChettan2-SemiBold.woff") format("woff");
    font-style: normal;
    font-weight: 600;
  }
