.fruits {
    padding: 60px 0;

    
    &_row {
        display: flex;
        justify-content: space-between;
        width: 33.33%;
        padding: 15px;
        position: relative;

        ::before {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            
        }
    }

    &_image {
        padding-bottom: 31px;
        position: relative;

        img {
            top: 50%;
            left: 50%;
            max-height: 100%;
        }
    }

}