input {
    font-family: $main-font-family;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0 10px 20px rgba(22, 52, 7, .05);
    border-radius: 10px;
    border: none;
    background-color: $white;
    outline: none;
    height: 59px;
    width: 100%;
    display: block;
    padding: 0 30px;
    transition: all .3s;

    &:focus {
        box-shadow: 0 10px 20px rgba(22, 52, 7, .2);
    }

    &::placeholder {
        color: rgb($title-color, .2);
    }
}